
.chat_content
{
	position: relative;
	left: 0%;
	font-size: 16px;
	
}

.chat_header
{
	text-align: center;
	color: black;
	background-color: #4169E1;
	font-family: franklin gothic medium; 
	font-size: 30px;
	overflow: auto;
}

.chat_all
{
	position: relative;
	width: 40%;
	height: 30%;
	left: 32%;
	top: 0%;
	border: 3px solid black;
	overflow: auto;
	background-color: #AFABAB;
}

.round_corners
{
	border-radius: 15px;
}

.write_messages
{
	font-family: franklin gothic medium; 
	font-size: 20px;
	position: absolute;
	left: 30%;
}

.status_on
{
	background-color: #33CC33;
	font-family: franklin gothic medium; 
	font-size: 30px;
}

.status_off
{
	background-color: #FF0033;
	font-family: franklin gothic medium; 
	font-size: 30px;
}

.alert_message
{
	position: absolute;
	top: 12%;
	left: 1%;
	width: 75%;
}

.search_result
{
	position: absolute;
	left: 25%;
	top: 45%;
	font-family: franklin gothic medium; 
	font-size: 18px;
}

.result_heading
{
	position: absolute;
	left: 20%;
	top: 40%;
	font-family: franklin gothic medium; 
	font-size: 20px;
}

.center
{
	position: absolute;
	left: 40%;
}

.login_causes
{
	font-family: franklin gothic medium; 
	font-size: 20px;
	position: absolute;
	left: 5%;
}

.news_article
{
	font-family: franklin gothic medium; 
	font-size: 20px;
	position: absolute;
	left: 5%;
}

.site_title
{
	font-family: franklin gothic medium; 
	font-size: 35px;
	text-align: center;
}

.menu_style
{
	font-family: 'Arial';
	font-size: 125%;
}

.right
{
	position: absolute;
	left: 92%;
	top: 40;
}

#body
{
	overflow: auto;
	background-color: #00F;
}

#friends
{
	position: absolute;
	top: 10.5%;
	left: 80%;
	height: 88.5%;
	width: 20%;
	background-color: #AFABAB;
	z-index: -1;
	overflow: auto;
	border: 3px solid black;
}

#heading
{
	position: fixed;
	top: 0%;
	left: 0%;
	height: 8%;
	width: 100%;
	background-color: #F90;
	z-index: 2;
}

#protokoll
{
	position: absolute;
	top: 10.5%;
	left: 0%;
	width: 80%;
	height: 88.5%;
	background-color: #808080;
	overflow: auto;
	border: 3px solid black;
}

.over
{
	top: 0%;
	left: 0%;
	width: 100%;
	height: 9%;
	z-index: -1;
}

.heading
{
	font-family: impact; 
	font-size: 20px;
}

.friends
{
	position: fixed;
	top: 10.5%;
	left: 80%;
	height: 100%;
	width: 20%;
	background-color: #AFABAB;
	border-left: 3px solid black;
}

.chat
{
	position: fixed;
	top: 10.5%;
	left: 0%;
	height: 100%;
	width: 80%;
	background-color: #AFABAB;
}

.menu
{
	position: fixed;
	top: 10.5%;
	left: 0%;
	height: 100%;
	width: 20%;
	background-color: #AFABAB;
	border-right: 3px solid black;
}

.write
{
	position: absolute;
	top: 68%;
	left: 47.5%;
}

.show_text
{
	position: absolute;
	top: 10%;
	left: 47.5%;
	height: 64%;
	width: 30%;
	background-color: #FFF;
	overflow: scroll;
	border: 2px solid black;
	padding-left: 7px;
}

.blue
{
	color: blue;
}

.green
{
	color: green;
}

.pic
{
	position: absolute;
	top: 10%;
	left: 40%;
}

.head_name
{
	position: absolute;
	top: 18%;
	left: 38%;
	height: 2%;
	width: 24.3%;
	background-color: #F00;
	border: 2px solid black;
	text-align: center;
	border-radius: 5px;
}

.search_friends
{
	position: fixed;
	top: 10.5%;
	left: 20%;
	height: 100%;
	width: 60%;
	background-color: #AFABAB;
}

.search_bar
{
	position: fixed;
	top: 20%;
	left: 40%;
}

.show_friends
{
	position: fixed;
	top: 30%;
	left: 40%;
	width: 100px;
	height: 100px;
}

.main_field
{
	position: fixed;
	top: 10%;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: #AFABAB;
}

.question
{
	font-size: 30px;
}

.causes
{
	position: fixed;
	top: 24%;
	left: 3%;
	height: 100%;
	width: 50%;
	background-color: #AFABAB;
	font-family: franklin gothic medium; 
	font-size: 20px;
}

.register_form
{
	position: fixed;
	top: 29%;
	right: 5%;
	height: 63%;
	width: 40%;
	background-color:#c0c0c0;
	text-align: center;
	padding: 10px;
	border: 6px solid #ddd;
	width: 700px; 
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.register_head
{
	position: fixed;
	top: 24%;
	right: 33%;
	width: 10%;
	background-color: #AFABAB;
	font-family: franklin gothic medium; 
	font-size: 30px;
}

.login_field
{
	position: fixed;
	top: 2%;
	right: 0%;
	width: 25%;
}

.pro_points
{
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background-color: #F00;
}
